[submodule "libraries/actionbarsherlock"]
	path = libraries/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
[submodule "libraries/lima1"]
	path = libraries/lima1
	url = https://github.com/kvj/Lima1.git
[submodule "libraries/Lima1"]
	path = libraries/Lima1
	url = https://github.com/kvj/Lima1Common.git
